.display-4 {
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 109, 136, 0.918);
    text-align: center;
    background-color: rgb(224, 234, 247);
}

.mt-0 {
    font-weight: bold;
    text-align: center;
    font-style: monospace;
}

.jumbotron {
    background-color: rgb(224, 234, 247);
    margin-top: 2rem;
}

body {
    background-image: url(backGroundIMG.jpg)
}

.container {
    background-color: rgb(224, 234, 247);
}

h1 {
    text-align: center;
    font-size: medium;
}