h1 {
    text-align: center;
    font-size: medium;
}

h2 {
    text-align: center;
    padding-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

p {
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.contactMe {
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    color: rgba(0, 109, 136, 0.918);
    text-align: center;
    background-color: rgb(224, 234, 247);
}

.mt-0 {
    font-weight: bold;
    font-style: monospace;
}

.jumbotron {
    background-color: rgb(224, 234, 247);
    margin-top: 2rem;
}

.container {
    background-color: rgb(224, 234, 247);
    margin-top: 2rem;
}

.two-favs {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 109, 136, 0.918);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Snowboarding {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 109, 136, 0.918);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Skating {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 109, 136, 0.918);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Hiking {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 109, 136, 0.918);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-body {
    text-align: center;
}

.card {
    margin-top: 2em;
    margin-bottom: 2em;
}

#firstCard {
    border-width: 3px;
}

#secondCard {
    border-width: 3px;
}

#thirdCard {
    border-width: 3px;
}

#fourthCard {
    border-width: 3px;
}

#fifthCard {
    border-width: 3px;
}